/*Luokkaselektori*/
.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  position: absolute;
  border-width: 2px;
  border-color: green;
  text-align: center;
}
/*Luokkaselektori*/
.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  margin-left: 225px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  position: absolute;
  border-width: 2px;
  border-color: red;
  text-align: center;
}
/*Luokkaselektori*/
.third-box-container {
  width: 200px;
  height: 100px;
  background-color: green;
  margin-left: 440px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  position: absolute;
  border-width: 2px;
  border-color: yellow;
  text-align: center;
}
.container-box-text {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 37px;
}
